<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag 'stylesheets/blueprint/screen', :media => 'scren' %>
		<%= stylesheet_link_tag 'stylesheets/blueprint/print', :media => 'print' %>
		<%= stylesheet_link_tag 'stylesheets/application', :media => 'print' %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
